site_name: 'AI for Natural Methane'
site_description: 'ESIIL working group: Harmonizing Natural Methane Datasets using Knowledge Guided Machine Learning'
site_author: Licheng Liu
site_url: https://cu-esiil.github.io/AI-for-Natural-Methane/

# Repository
repo_name: AI-for-Natural-Methane
repo_url: https://github.com/CU-ESIIL/AI-for-Natural-Methane
edit_uri: edit/main/docs/
# Copyright
copyright: 'Copyright &copy; 2025 University of Colorado Boulder'

# Page tree
nav:
  - Home: index.md
  - Workshop in 2024: resources/workshop_2024.md
  - Workshop in 2025: resources/workshop_2025.md
  - Manuscript: resources/manuscript.md
  - Open-source pyKGML Package: resources/tutorial.md
  - Data Harmonization: resources/data_harmonization.md
  - Sub-Working Group:
       - Overview: resources/subWG_overview.md
       - Perspectives on AI and Ethics: resources/subWG_1.md
       - Global Budget and Trends: resources/subWG_2.md
       - Disturbance Ecology: resources/subWG_3.md
       - Microbial Processes: resources/subWG_4.md
  - Guidelines for Intellectual Contributions and Credit: resources/WG_guideline.md
  - Resources:
       - Code of Conduct: resources/code-of-conduct.md
       - Participant agreement: resources/participant_agreement.md
       - ESIIL training: resources/esiil_training.md
       - Markdown: resources/markdown_basics.md
       - Cyverse: resources/cyverse_basics.md
       - Docker: resources/docker_basics.md
  - Code documentation:
       - Data processing: resources/data_processing.md
       - Data analysis: resources/data_analysis.md
       - Visualizations: resources/visualizations.md 
  - References:
       - Notes from readings: resources/notes_from_readings.md
       - Citations: resources/citations.md

# Configuration
theme:
  highlightjs: true
  name: material
  font:
    text: 'Open Sans'
    code: 'Roboto Mono'
  logo: 'assets/esiil_content/ESIIL_logo.png'
  favicon: 'assets/esiil_content/favicon.ico'
  # setting features for the navigation tab
  features:
    - navigation.sections
    - navigation.instant
    - navigation.tracking
    - navigation.indexes
    - navigation.top
    - toc.integrate
    - toc.follow
    - content.code.copy
  # Default values, taken from mkdocs_theme.yml
  language: en
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: white)"
      primary: 'white'
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to system preference

# Options
extra:
  social:
    - icon: fontawesome/brands/github
    # link: https://github.com/cu-esiil/

extra_css:
  - stylesheets/extra.css

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - mkdocs-jupyter:
          include_source: True
          ignore_h1_titles: True
